<header class="main-header">
    <a href="javascript:void(0)" class="logo">
        <span class="logo-mini"><b>R</b></span>
        <span class="logo-lg"><b>R</b>&nbsp;后台管理</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!--sidebar-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>退出</span>
                        <i class="fa fa-close"></i>
                      </a>
                </li>
            </ul>
        </div>
    </nav>
</header>