<!-- 后台首页 -->
<!-- 继承 一个页面中只能继承一次-->
{% extends './common/layout.html' %}

<!-- 重写cssJs 引入首页相关的css和javascript -->
<!-- {% block cssJs %}

{% endblock %} -->

<!-- 重写main部分 -->
{% block main %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body text-center" style="height:60%;">
                        <img src="/public/imgs/backend/welcome.png" alt="welcome" style="display:block;width:50%;margin:5% 25%;">
                        <h3>欢迎光临R管理后台</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}