/* 前端的公共样式 */

/* 移除浏览器默认的样式 */
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select{
    margin:0;
    padding:0;
    font-size:14px;
}
body{
    min-width:1180px;
    font-family: "Microsoft YaHei","\5B8B\4F53","Arial Narrow",Arial,"宋体", Helvetica, sans-serif;
    background:#f7f7f7;
    position: relative;
}
a{
    color:#333;
    text-decoration: none;
}
a:hover{
    color:#09c7d1;
}
em{
    font-style:normal;
}
li{
    list-style: none;
}
img{
    border:0;
    vertical-align: middle; /* 垂直居中需要 */
}
table{
    border-collapse: collapse;
    border-spacing:0;
}
p{
    word-break: break-all;
}
input,
button,
textarea,
select{
    outline: none; /* 取消外边框的高光 */
    border-radius:0; /* 取消mac系统浏览器上的自带圆角效果 */
}
/* input&textarea中placeholder的处理 */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    /* webkit browsers */
    color:#b3b3b3;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    /* mozilla firefox 4 to 18 */
    color:#b3b3b3;
    opacity:1;
}
input::-moz-placeholder,
textarea::-moz-placeholder{
    /* mozilla firefox 19+ */
    color:#b3b3b3;
    opacity:1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
    /* internet explorer 10+ */
    color:#b3b3b3;
}
input,
select,
textarea{
    color:#333;
}
textarea{ /* 移除默认出现滚动条 */
    overflow: auto;
    resize: none;
}
/* 移除input中ie自带的删除图标和密码的眼睛图标 */
input::-ms-clear,
input::-ms-reveal{
    display: none;
}
/* 覆盖谷歌浏览器中input智能选中时候的背景色 参考链接https://github.com/reng99/develop_knoledge_summary/blob/master/front_end/input_select_bgIssue.md  */
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 300px white inset;
}

/* header 样式 */
header{
    width:100%;
    background:#f7f7f7;
    height: auto;
}
header .top{
    width:1180px;
    height: 36px;
    margin:0 auto;
    line-height: 36px;
    zoom:1;
}
header .top .logo{
    width:100px;
    height: 36px;
    float: left;
}
header .top .loginReg,header .top .entered{
    width:500px;
    height: 36px;
    float: right;
}
header .top .loginReg li,header .top .entered li{
    float: right;
    margin:0 10px 0 20px;
    font-size:12px;
}
header .top .entered em{
    color:#f00;
    font-weight:bold;
}
header .nav{
    width:1180px;
    margin:0 auto;
    line-height: 36px;
    margin-bottom:10px;
    zoom:1;
}
header .nav:after{
    width:0;
    height: 0;
    content:'.';
    display: block;
    clear:both;
    visibility: hidden;
}
header .nav li{
    margin-right:30px;
    margin-left:20px;
    float: left;
}
header .nav li:hover a,header .nav .active a{
    color:#09c7d1;
    border-bottom:2px solid #09c7d1;
}
header .nav li a{
    display: block;
    padding:3px 6px;
}

/* 主体共用部分#main */
#main{
    width:100%;
    height:auto;
}
#main .container{
    width:1180px;
    height:auto;
    padding-bottom:80px;/* 使用了fixed来固定页脚，所以需要添加此值来拉开距离 */
    margin:0 auto;
}

/* footer 样式 */
footer{
    width:100%;
    background:#333335;
    height:auto;
    position:fixed;
    bottom:0;
    left:0;
}
footer .copyRight{
    width:1180px;
    height:40px;
    line-height: 40px;
    margin:0 auto;
    text-align:center;
    color:#888;
    font-size:12px;
}
footer .copyRight .origin{
    color:#888;
}
footer .copyRight .origin:hover{
    color:#09c7d1;
    text-decoration: underline;
}

/* 固定工具栏 */
#fixedTool{
    width:60px;
    border:1px solid #e5e5e5;
    background:#fff;
    height: auto;
    z-index: 1000;
    position: fixed;
    top:360px;
    left:-70px;
}
#fixedTool li{
    height: 60px;
    border-top:1px solid #e5e5e5;
}
#fixedTool li:first-child{
    border-top:none;
}
#fixedTool li a{
    display: block;
    height: 100%;
}
#fixedTool li a i{
    width:40px;
    height: 40px;
    display: block;
    font-size:40px;
    line-height: 40px;
    padding:10px;
    text-align: center;
}
#fixedTool li .weixin i{
    font-size:32px;
}
#fixedTool li:last-child{
    display: none;
}