<!-- 后台用户页面 -->
<!-- 继承 一个页面中只能继承一次-->
{% extends '../common/layout.html' %}

{% block cssJs %}
    <script type="text/javascript" src="/public/js/backend/user/index.js"></script>
{% endblock %}

{% block main %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="javascript:;">全部用户</a>
                        </li>
                        <li>
                            <a href="javascript:;">管理员</a>
                        </li>
                        <li>
                            <a href="javascript:;">普通用户</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <table class="table table-bordered table-striped dataTable" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th width=20%;>id</th>
                                        <th width=20%;>用户名</th>
                                        <th width=20%;>密码</th>
                                        <th width=20%;>是否是管理员</th>
                                        <th width="20%">特殊操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr role="row">
                                        <td>{{user._id.toString()}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.password}}</td>
                                        <td>
                                            {% if user.isAdmin%}
                                            是
                                            {% else %}
                                            否
                                            {% endif %}
                                        </td>
                                        <td><a href="javascript:;">删除</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include '../snippet/pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}