<!-- 后台用户页面 -->
<!-- 继承 一个页面中只能继承一次-->
{% extends '../common/layout.html' %}

{% block cssJs %}
    <script type="text/javascript" src="/public/js/backend/user/index.js"></script>
{% endblock %}

{% block main %}
    <section class="content">
        <div class="row">
            <div class="col-ms-12">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <table class="table table-bordered table-striped dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th width=25%;>12</th>
                                    <th width=25%;>34</th>
                                    <th width=25%;>56</th>
                                    <th width=25%;>78</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row">
                                    <td>reng</td>
                                    <td>jia</td>
                                    <td>Gecko</td>
                                    <td>Gecko</td>
                                </tr>
                                <tr role="row">
                                    <td>reng</td>
                                    <td>jia</td>
                                    <td>Gecko</td>
                                    <td>Gecko</td>
                                </tr>
                                <tr role="row">
                                    <td>reng</td>
                                    <td>jia</td>
                                    <td>Gecko</td>
                                    <td>Gecko</td>
                                </tr>
                                <tr role="row">
                                    <td>reng</td>
                                    <td>jia</td>
                                    <td>Gecko</td>
                                    <td>Gecko</td>
                                </tr>
                                <tr role="row">
                                    <td>reng</td>
                                    <td>jia</td>
                                    <td>Gecko</td>
                                    <td>Gecko</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr role="row">
                                    <th>12</th>
                                    <th>34</th>
                                    <th>56</th>
                                    <th>78</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="row">
                            <div class="col-sm-5 dataTables_info">
                                <div class="pagination pull-left">Showing 1 to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-7 dataTables_paginate paging_simple_numbers">
                                <ul class="pagination pull-right">
                                    <li class="paginate_button previous disabled" id="example1_previous">
                                        <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                                    </li>
                                    <li class="paginate_button active">
                                        <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a>
                                    </li>
                                    <li class="paginate_button ">
                                        <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a>
                                    </li>
                                    <li class="paginate_button next" id="example1_next">
                                        <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
{% endblock %}