body{
    background: #f7f7f7;
    
}
.reg_login{
    width:400px;
    height:auto;
    position: absolute;
    left:50%;
    top:80px;
    padding-bottom:80px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.reg_login .backIndex{
    width:60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size:30px;
    color:#fff;
    font-family:'Times New Roman';
    border-radius:30px;
    display: block;
    margin:0 auto;
    box-shadow: 5px 5px 2px #e5e5e5;
    background: -webkit-linear-gradient(rgb(255,255,255), rgb(9,199,209)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgb(255,255,255), rgb(9,199,209)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgb(255,255,255), rgb(9,199,209)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgb(255,255,255), rgb(9,199,209)); /* 标准的语法（必须放在最后） */
}
#login,#register{
    width:360px;
    margin-top:14px;
    padding:0 20px 40px 20px;
    border:1px solid #e5e5e5;
    background:#fff;
    box-shadow: 10px 10px 5px #e5e5e5;
}
.reg_login .title{
    height: 56px;
    line-height: 56px;
    margin-bottom:20px;
    font-size:18px;
    text-align:center;
    border-bottom:1px solid #e5e5e5;
}
.reg_login label{
    display: block;
    color:#09c7d1;
    padding-bottom:6px;
    width:360px;
    cursor: pointer;
}
.reg_login label .warn{
    color:#f00;
    font-size:12px;
}
.reg_login input{
    width:360px;
    height: 42px;
    border:1px solid #e5e5e5;
    margin-bottom:10px;
    text-indent: 10px;
}
.reg_login .colWarn{
    color:#f00;
}
.reg_login .btn{
    width:360px;
    height: 42px;
    border:none;
    background:#09c7d1;
    color:#fff;
    font-size:18px;
    margin:16px 0 10px 0;
    cursor: pointer;
}
.reg_login .hint{
    text-align:center;
    display: block;
    font-size:12px;
}
