<ul id="fixedTool">
    <li><a href="https://github.com/reng99" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
    <li>
        <a href="javascript:;" class="weixin"><i class="fa fa-weixin"></i></a>
        <div class="showAvatar">
            <img class="codeProfile" src="/public/imgs/frontend/code_avatar.jpg">
            <span class="triangle-right"></span>
        </div>
    </li>
    <li><a href="javascript:;" class="backTop"><i class="fa fa-angle-up"></i></a></li>
</ul>
