<!-- 页面的公共的页头 -->
<header>
    <div class="top">
        <div class="logo"><a href="/index.html" class="indexPage">logo</a></div>
        <ul class="loginReg"><!-- 未登录状态-->
            <li><a href="/register/index.html" class="register">Sign Up</a></li>
            <li><a href="/login.html" class="login">Sign In</a></li>
        </ul>
        <ul class="entered" style="display:none;"><!--已登录状态-->
            <li><a href="javascript:;" class="logout">Sign out</a></li>
            <li>Hello，<em>reng</em>!&nbsp;Welcome to my website!</li>
        </ul>
    </div>
</header>
