<!-- 页面的公共的页头 -->
<header>
    <div class="top">
        <div class="logo"><a href="/" class="indexPage">logo</a></div>
        <ul class="loginReg"><!-- 未登录状态-->
            <li><a href="/register/index.html" class="register">注册</a></li>
            <li><a href="/login.html" class="login">登录</a></li>
        </ul>
        <ul class="entered" style="display:none;"><!--已登录状态-->
            <li><a href="javascript:;" class="logout">退出</a></li>
            <li>您好，<em>reng</em>!&nbsp;欢迎登录我的网站。</li>
        </ul>
    </div>
</header>
