<!-- 网站优化的信息 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>前台网站</title>

<!-- 引用公共的javascript和相关的css资源 -->
    <link rel="icon" type="image/x-icon" href="/public/imgs/frontend/favicon.ico">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/public/css/frontend/common.css" />
    <link rel="stylesheet" type="text/css" href="/public/lib/font-awesome/css/font-awesome.min.css" />
    <!-- javascript -->
    <!-- jQuery 3 -->
    <script type="text/javascript" src="/public/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/frontend/common.js"></script>