<!-- 继承相关的布局 -->
{% extends '../common/layout.html' %}

<!-- 引入分类相关的资源css和js资源 -->
{% block cssJs %}

{% endblock %}

<!-- 重写main部分 -->
{% block main %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header"></div>
                <div class="box-body text-center">
                    <h3>分类添加页面</h3>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}