<!-- 前台首页 -->

<!-- 继承 一个页面中只能继承一次-->
{% extends './common/layout.html' %}

<!-- 重写cssJs 引入首页相关的css和javascript -->
{% block cssJs %}
    <link rel="stylesheet" type="text/css" href="/public/css/frontend/index/index.css">
    <script type="text/javascript" src="/public/js/frontend/snippet/banner.js"></script> <!--引入轮播的js-->
    <script type="text/javascript" src="/public/js/frontend/index/index.js"></script>
{% endblock %}

<!-- 重写main部分 -->
{% block main %}
    <!-- 轮播图 -->
    <div id="index_banner" class="banner">
        <ul class="bd">
            <li><a href="javascript:;"><img src="/public/imgs/frontend/index/banner1.jpg" alt=""></a></li>
            <li><a href="javascript:;"><img src="/public/imgs/frontend/index/banner2.jpg" alt=""></a></li>
            <li><a href="javascript:;"><img src="/public/imgs/frontend/index/banner3.jpg" alt=""></a></li>
        </ul>
        <ul class="hd">
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
        <div class="pre"></div>
        <div class="next"></div>
    </div>
    <!-- 首页主体 -->
    <div class="container" id="index">
        <div class="article_lists">
            <article class="article">
                <div class="article_header">
                    <span class="side time">2017/10/18</span>
                    <a href="" class="side catalogue">catalogue</a>
                    <h2 class="title">THE TITLE</h2>
                </div>
                <div class="brief_article">
                        <p>Content here</p>
                        <p>Content here</p>
                        <p>Content here</p>
                        <p>Content here</p>
                </div>
                <div class="article_footer">
                        <a href="javascript:;" class="detail_btn">MORE</a>
                </div>
            </article>
            <article class="article">
                <div class="article_header">
                    <span class="side time">2017/10/18</span>
                    <a href="javascript:;" class="side catalogue">catalogue</a>
                    <h2 class="title">THE TITLE</h2>
                </div>
                <div class="brief_article">
                        <p>Content here</p>
                        <p>Content here</p>
                        <p>Content here</p>
                        <p>Content here</p>
                </div>
                <div class="article_footer">
                        <a href="javascript:;" class="detail_btn">MORE</a>
                </div>
            </article>
            <article class="article">
                <div class="article_header">
                    <span class="side time">2017/10/18</span>
                    <a href="javascript:;" class="side catalogue">catalogue</a>
                    <h2 class="title">THE TITLE</h2>
                </div>
                <div class="brief_article">
                        <p>Content here</p>
                        <p>Content here</p>
                        <p>Content here</p>
                        <p>Content here</p>
                </div>
                <div class="article_footer">
                        <a href="javascript:;" class="detail_btn">MORE</a>
                </div>
            </article>
        </div>
        <aside class="sidebar">
            <h1>hot recommend</h1>
        </aside>
    </div>
{% endblock %}
