<!-- 登录页面 -->
<html lang="en">
    <head>
        <!-- 引入公共的样式和js -->
        {% include './common/quote.html' %}
        <link rel="stylesheet" href="/public/css/frontend/login_reg.css" type="text/css">
        <script type="text/javascript" src="/public/js/frontend/login/index.js"></script>
    </head>
    <body>
        <div class="reg_login">
            <a href="/index.html" class="backIndex">R</a>
            <dl id="login">
                <dt class="title">Sign In</dt>
                <dd>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                </dd>
                <dd>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </dd>
                <dd><p class="colWarn"></p></dd>
                <dd>
                    <button class='btn login'>Sign in</button>
                </dd>
                <dd><a href="/register/index.html" class="hint">I don't have an account</a></dd>
            </dl>
        </div>
        <!-- 引入公共的页脚 -->
        {% include './common/footer.html' %}
    </body>
</html>
