<!-- 登录页面 -->
<!-- 继承 一个页面中只能继承一次-->
{% extends './common/layout.html' %}

<!-- 重写cssJs 引入首页相关的css和javascript -->
{% block cssJs %}
    <script type="text/javascript" src="/public/frontend/js/login/index.js"></script>
{% endblock%}

<!-- 重写main部分 -->
{% block main %}
    <dl id="login" class="reg_login">
        <dt class="title">Sign in</dt>
        <dd>
            <lable for="username">Username</lable><br/>
            <input type="text" id="usename" name="username">
        </dd>
        <dd>
            <label for="password">Password</label><br/>
            <input type="password" id="password" name="password">
        </dd>
        <dd>
            <button class='btn login'>Sign in</button>
        </dd>
        <dd><p>I don't have an account</p></dd>
    </dl>
{% endblock %}