<!-- 注册页面 -->
<!-- 继承 一个页面中只能继承一次-->
{% extends '../common/layout.html' %}

<!-- 重写cssJs 引入首页相关的css和javascript -->
{% block cssJs %}
    <script type="text/javascript" src="/public/frontend/js/register/index.js"></script>
{% endblock%}

<!-- 重写main部分 -->
{% block main %}
    <dl id="register" class="reg_login">
        <dt class="title">Sign Up</dt>
        <dd>
            <lable for="username">Username</lable><br/>
            <input type="text" id="usename" name="username">
        </dd>
        <dd>
            <label for="password">Password</label><br/>
            <input type="password" id="password" name="password">
        </dd>
        <dd>
            <label for="repassword">Comfirm Password</label><br/>
            <input type="password" name="repassword">
        </dd>
        <dd><button class='btn register'>Create an account</button></dd>
        <dd><p>I have an account</p></dd>
        
    </dl>
{% endblock %}